# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
.env.local
.env.*.local

# OS files
.DS_Store

# VS Code
.vscode/

# Build outputs (se você gerar algum build)
dist/
build/

# Outros arquivos temporários
*.log

# Cache do npm
.npm/

# Arquivos do sistema
Thumbs.db
